<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982397134116-def1jaa34398pf1qpofko0mtt2l7uu0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982397134116-def1jaa34398pf1qpofko0mtt2l7uu0f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982397134116-ggip96hrce6f7qce40up099457g0cqbd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDGMBrdvQPGa0BWnHpiNJt7b7qR68_GWUc</string>
	<key>GCM_SENDER_ID</key>
	<string>982397134116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>offroadist.Chat.app</string>
	<key>PROJECT_ID</key>
	<string>offroadistchats</string>
	<key>STORAGE_BUCKET</key>
	<string>offroadistchats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982397134116:ios:14ce96e79e17339cf93fb1</string>
</dict>
</plist>